@media screen and (max-width: 400px){
    .grid-item{
        width: 80px;
        height: 80px;
        gap: 0px;
    }
    #grid-container{
        width: 260px;
        height: 260px;
    }
    .grid-item img{
        width: 70px;
        height: 70px;
    }
}